.column {
  float: left;
  width: 50%;
}

.left {
  padding-right: 30px;
  // width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 5px;
  color: #c2c5cc;
}

tr:hover {
  background-color: #ffffff !important;
}

tr.selected {
  background-color: #346d89;
}
