<div>
  <div class="row">
    <div class="column">
      <button :disabled="!scroll.showLeft" class="arrow" @click="toScroll(-20)">
        &lt;
      </button>
      <button :disabled="!scroll.showRight" class="arrow" @click="toScroll(20)">
        &gt;
      </button>
      <div class="left container" ref="container">
        <table>
          <tr v-for="line in lines" :class="{ selected: line.selected }">
            <td @click="selectLineAndPoint(line)">{{ line.text }}</td>
          </tr>
        </table>
      </div>
      <div class="actions">
        <button class="primary" @click="clearSelection">
          Clear Selection
        </button>
      </div>
    </div>
    <div class="column">
      <div ref="predictPlot">
        <!-- Plotly chart will be drawn inside this DIV -->
      </div>
    </div>
  </div>
</div>
